aap_red_hat_username: <portal user>
aap_red_hat_password: <portal password>
infrastructure_database_server_user: admin
infrastructure_database_server_password: <desired password>
aap_admin_password: <desired password>